{% extends "OnionApp/base.html" %}

{% block content %}
	{% comment %}
	<ul>
	{% for article in articles %}
		
			<li class="onion_bullet">
				<article>
					<img class="onion_img" src="{{article.thumbnail_url}}">
					<a class="onion_article" href="{{article.artilce_url}}">{{article.article_text}}</a>
				</article>
				<button type="button" class="btn btn-primary btn-block">Onion</button>
				<button type="button" class="btn btn-primary btn-block">Not the Onion</button>
			</li>
		
	{% endfor %}
	</ul>
	{% endcomment %}
	
	
	<ul class="onion_list">
		<li class="onion_bullet">
				<article>
					<img class="onion_img" id="change_img"src="">
					<a class="onion_article" id="change_link" href=""></a>
				</article>
				
				<form action="/OnionApp/" method="POST" id="answer_form">
					{% csrf_token %}
					<input type="submit" name="onion_select" id="is_onion" class="btn btn-primary btn-block" value="Onion"></button>
					<input type="submit" name="onion_select" id="is_not_onion" class="btn btn-primary btn-block" value="Not the Onion"></button>
				</form>
				
			</li>
	<ul>
	
	
{% endblock %}

{% block script_actions %}
	<script>
		var counter = 1
		
		$(document).ready(function(){
				loadArticle();
				$("#next").click(goToNextArticle);
				$("#prev").click(goToPrevArticle);
		});
		
		function loadArticle(){
				updateCounter()
				
				//Tell the form which url it has to go to for this Article submission
				$("#answer_form").attr("action", "/OnionApp/" + counter + "/")
				
				$.ajax({
					url: '//localhost:8000/OnionApp/' + counter +'/',
					type: 'GET', 
					dataType: 'json',
					success: function(data) {
						//alert(data);
						updateDisplay(data)
						console.log(counter)
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(JSON.stringify(jqXHR));
						console.log("AJAX error: " + textStatus + ' : ' + errorThrown);
					}
				}); 
		}
		 
		//Expects JSON data and will update the page 	
		function updateDisplay(data){
			$("#change_img").attr("src", data.thumbnail_url);
			$("#change_link").attr("href", data.url)
			$("#change_link").html(data.name);
		}
		
		//Update counter
		function updateCounter(){
			if(counter > 4){
				counter = 1;
			}else if(counter < 1){
				counter = 4;
			}
		}
		
		function goToNextArticle(){
			counter++;
			loadArticle();
		}
		
		function goToPrevArticle(){
			counter--;
			loadArticle();
		}
		
		//Adds a form that will allow the user to select between 'Onion' and 'Not the Onion'
		function addResponseForm(){
			$('<form />', {action: '//localhost:8000/OnionApp/' + counter +'/', method: 'POST'});
		}
		
	</script>
{% endblock %}