body{
	padding-top: 100px;
	background-color: #243743;
}

/* Bootstrap Re-styling */
.navbar-default{
	background-color: #28B78D;
}
.navbar-default .navbar-brand{
	color: #243743;
}
#navbar ul li a{
	color: #243743;
}
#navbar ul li.active a{
	background-color: #1c7d61;
	color: #fff;
}

.jumbotron{
	background-color: #FAFAFA;
}

.btn-primary{
	background-color: #28B78D;
}

ul.onion_list{
	overflow: hidden;
}

li.onion_bullet{
	list-style-type: none;
	width: 22.5%;
	height: 220px;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}
li.onion_bullet article{
	height: 55%;
}
img.onion_img{
	width: 100px;
	max-width: 100%;
	height: 67px;
	max-width: 120px;
	max-height: 75;
	display: block;
	margin: 0 auto;
}
a.onion_article{
	font-size: 1em;
	font-family: gandhi_serifregular,"Georgia",Times New Roman,serif;
	text-decoration: none;
	color: black;
}

input[type=radio] {
  -webkit-appearance: none;
}